<p id="notice"><%= notice %></p>

<%= link_to :back do %>
  <button type="button" class="btn btn-outline-primary">back</button>
<% end %>
<br>
<div class="managerpost">
    <div class="title">
      <h3><%= @managerpost.title %></h3>
    </div>
    <%= simple_format @managerpost.content %>
    <div class="master-editor-btn" align="right">
        <%= time_ago_in_words(@managerpost.created_at) %> ago &nbsp;
        <% if current_user && current_user.has_role?(:admin) %>
          <p>
            <strong>Published:</strong>
            <%= @managerpost.published %>
          </p>
          <%= link_to edit_managerpost_path(@managerpost) do %>
            <button type="button" class="btn btn-outline-primary">edit</button>
          <% end %>
          <%= link_to @managerpost, method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' } do %>
            <button type="button" class="btn btn-outline-primary">delete</button>
          <% end %>
        <% end %>
    </div>
</div>
