<!DOCTYPE html>
<html>
  <head>
    <title>Community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>

  <body>
    <!-- Header section -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">Community</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/managerposts"> M-posts <span></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/posts"> Posts <span></span></a>
            </li>
            <% if current_user && current_user.has_role?(:admin) %>
              <li class="nav-item">
                <a class="nav-link" href="/admin"> Admin <span></span></a>
              </li>
            <% end %>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

          <ul class="nav justify-content-end">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a class="nav-link" href="/users/edit"> <%= current_user.email %> <span></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in"> Login <span></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up"> Sign Up <span></span></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

 <!-- Body section -->
    <div id="mainbody" class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div>

 <!-- Footer section -->
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Fixed bottom</a>
      </div>
    </nav>


  </body>
</html>
